html{
    font-family: 'Poppins', sans-serif;
}

.home_img{
    background: url("../images/sweets.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 450px;
}
.logo{
    float: left;
}
.HnS{
    float:right;
    text-align: center;
}
.Login_signup{
    display: inline-flex;
    margin-top: 5px;
}
.login{
    background-color: #ECCA1A;
    text-align: center;
    justify-content: center;
    width:117px;
    padding-top: 10px;
    height:40px;
    font-size: 14px;
}
.signup{
    background-color: #ECCA1A;
    text-align: center;
    justify-content: center;
    width:117px;
    height:40px;
    padding-top: 10px;
    margin-right: 20px;
    font-size: 14px;
}
.home-icon{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.details{
    margin-top: 20px;
    display: flex;
}
.location{
    font-size: 24px;
    font-weight: bold;
}
.cart-picture{
    display: inline-flex;
    color: #333; 
    transition: all 0.3s;
    margin-top: -15px;
    padding: auto;
}
.fa-shopping-cart{
    font-size: 34px;
}
#cart-items{
    margin-top: 15px;
}
.cart-picture:hover{
    transform: scale(1.1);
}
.cart-full{
    display: none;
    background-color: #ECCA1A;
    width: 40%;
    margin: auto;
    padding:auto;
}
.cart-display{
    display: flex;
    text-align: center;
    justify-content: center;
}
.item-title{
    
    font-size: 22px;
}
.item-price{
    margin-top: 15px;
    font-size: 22px;
    
}
.fa-trash{
    margin-top: 15px;
    font-size: 22px;
    transition: all 0.3s;
}
.fa-trash:hover{
    transform: scale(1.1);
}
#header{
    border: grey solid 1px;
    overflow: hidden;
    background-color: #333;
    width:90%;
    margin:auto;
    margin-bottom: 10px;
}
#categories{
    height: 40px;
    width:90%;
    margin:auto;
    overflow: hidden;
    margin-bottom: 10px;
    padding-right: 15px;
    display: flex;
}
.category{
    border: #333 solid 1px;
}
.categories p{
    float: left;
    display: block;
    color: #333;
    text-align: center;
    justify-content: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
}
.header a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#header .items:hover a, #categories .items:hover p{
    color: #ECCA1A;
}
#header .on, #categories .active {
    background-color: #ECCA1A;
    color: black;
}
#header .on a, #categories .active p{
    color: black;
}
.items{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
/* .sticky + .foods {
    padding-top: 60px;
} */
.food1,.food2,.food3,.food3,.food4,.food5,.food6,.food7,.food8,.food9,.food10,.food11,.food12,.food13,.food14,.food15,.food16,.food17,.food18,.food19,.food20,.food21,.food22,.food23,.food24,.food25{
    margin-top: 30px;
    border-top: #333 solid 1px;
}
.addcart1,.addcart2,.addcart3,.addcart4,.addcart5,.addcart6,.addcart7,.addcart8,.addcart9,.addcart10,.addcart11,.addcart12,.addcart13,.addcart14,.addcart15,.addcart16,.addcart17,.addcart18,.addcart19,.addcart20,.addcart21,.addcart22,.addcart23,.addcart24,.addcart25{
    transition: all 0.3s;
}
.addcart1:hover,.addcart2:hover,.addcart3:hover,.addcart4:hover,.addcart5:hover,.addcart6:hover,.addcart7:hover,.addcart8:hover,.addcart9:hover,.addcart10:hover,.addcart11:hover,.addcart12:hover,.addcart13:hover,.addcart14:hover,.addcart15:hover,.addcart16:hover,.addcart17:hover,.addcart18:hover,.addcart19:hover,.addcart20:hover,.addcart21:hover,.addcart22:hover,.addcart23:hover,.addcart24:hover,.addcart25:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
}

.menu-title{
    float: left;
    font-size: 22px;
}
.price{
    float: right;
}
.price{
    display: inline-flex;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
.price img{
    width:39px;
    height: 33px;
    padding: 3px;
}
.price p{
    padding: 3px;
    font-size: 24px;
}
.description{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}
.media-icons{
    margin-top: 30px;
    border-top: #333 solid 1px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    
}
.fa{
    padding: 10px;
}
.lunch,.dinner,.drinks{
    display:none;
}
.about-us{
    display: flex;
    text-align: center;
    justify-content: center;
}
footer{
    background-color:#E0E0E0; 
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    padding: 5px;
    margin: auto;
}

@media screen and(max-width:700px){
    #categories{
        height: 40px;
        width:100%;
        margin:auto;
        margin-bottom: 10px;
        /* padding-right: 15px; */
        display: flex;
    }
    .category{
        width:100%;
    }
}